.env
.env.*
!.env.example
!.env.production.example
.git
.gitignore
.github
.idea
.vscode
.phpactor.json
.phpunit.result.cache
.phpunit.cache
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*.php
tests
npm-debug.log
yarn-error.log
*.log
Dockerfile*
docker-compose*.yml
README.md
*.md
